<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href="/static/img/favicon.ico" />
        <link href="/static/css/footer.css" rel="stylesheet" type="text/css" />
        <title>EXAtom - Footer文件</title>
    </head>
    <body>
        <div id="footer">
            <div class="w">
                <p class="down">
                    <a href="/" target="_blank">网站首页</a> &ensp;|&ensp;
                    <a href="/html/wallpaper.html" target="_blank">壁纸分享</a>
                </p>

                <p class="down">
                    联系方式：<a href="mailto:3522542971@qq.com"><img src="/static/img/mail.png"/></a> &ensp;|&ensp; 
                    <a href="//12377.cn/" target="_blank">违法和不良信息举报</a>
                </p>

                <p class="down">
                    ?2021 EXAtom <a href="//exatomqwq.github.io/" target="_blank">exatomqwq.github.io</a> 版权所有
                </p>
            </div>
        </div>
    </body>
</html>