<!DOCTYPE html>
<html>
    <head>
        <title>EXAtom - Header文件</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href="/static/img/favicon.ico" />
        <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="/static/css/style.css" type="text/css">
        <link rel="alternate" type="application/rss+xml" href="https://www.tool22.com/feed.php" title="兔二工具">
        <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.4.min.js" type="text/javascript"></script>
        <script src="/static/js/zblogphp.js" type="text/javascript"></script>
        <script src="/static/js/prism.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/prism.css">
    </head>
    <body>
        <header class="header">
            <div class="h-fix">
                <div class="container">
                    <h1 class="logo">
                        <a href="/" title="EXAtom" target="_top">
                            <img id="light-logo" src="/static/img/avatar.jpg" style="height: auto; width: 75px;" alt="EXAtom" title="EXAtom">
                            <img id="dark-logo" src="/static/img/avatar.jpg" style="height: auto; width: 75px;" alt="EXAtom" title="EXAtom">
                        </a>
                    </h1>
                    <div id="m-btn" class="m-btn"><i class="fa fa-bars"></i></div>
                    <nav class="nav-bar" id="nav-box" data-type="index" data-infoid="">
                        <ul class="nav">
                            <li id="navbar-category-1" class="li-cate-1"><a href="/" target="_blank">网站首页</a></li>
                            <li id="navbar-category-2" class="li-cate-2"><a href="/html/wallpaper.html" target="_blank">壁纸分享</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    </body>
</html>